// Colors
$link-color: #4f80e1;
$link-border: 1px solid #528af0;
$link-hover-color: #f03462;
$link-hover-border: 1px solid #ff3566;

// Standard
$default: #2b78bb;
$warning: #f91a0d;

// Font
$font-muted: #adadad;
$font-primary: #2b78bb;
$font-secondary: #bb59ae;
$font-danger: #de1a0d;

// Backgrounds
$bg-default: #fcfcfc;
$bg-secondary: #f0f0f0;
$bg-muted: #bcbcbc;
$bg-blue: #2b78bb;

// Cases
$case-color-primary: #2b78bb;
$case-color-secondary: #bb59ae;

// Forms
$form-border-header-color: #2b78bb;

// Animate
$transition-main: all 0.3s;

// Marked
$marked-opacity: 0.5;
$marked-default: rgba(243, 198, 78, $marked-opacity);
$marked-primary: rgba(43, 120, 187, $marked-opacity);
$marked-secondary: rgba(187, 89, 174, $marked-opacity);
$marked-muted: rgba(188, 188, 188, $marked-opacity);
$marked-danger: rgba(222, 26, 13, $marked-opacity);
