// Colors
$background-color: #f0f0f1;
$second-background-color: #fff;
$primary: #4f80e1;
$secondary: #292c44;
$green: #38d43f;

$link-color: #4f80e1;
$link-border: 1px solid #528af0;
$link-hover-color: #f03462;
$link-hover-border: 1px solid #ff3566;

$h1-color: #423838;

$footer-color: #222222;

// Animate
$transition-main: all 0.3s;

// Fonts
$normal-font-size: 18px;
$h1-font-size: 40px;
$line-height: 30px;

// Paddings
$block-padding: 40px 0;
