.button {
  display: block;
  padding: 0.2em 1.5em;
  background: $default;
  color: white;
  border: 1px solid $default;
  border-radius: 0.3em;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background: darken($default, 10);
  }

  &--pill {
    border-radius: 0.5em;
  }

  &--pill-more {
    border-radius: 1em;
  }

  &--fill {
    width: 100%;
  }

  &--large {
    padding: 0.6em 2em;
    font-size: 2em;
  }

  &--disabled {
    background-color: #656762;
    cursor: no-drop;
    border: 1px solid #656762;

    &:hover {
      background-color: #656762;
    }
  }
}
